player-connection-mode=Listen
player-connection-guid=1670713666
player-connection-debug=0
player-connection-project-name=Future Sock
player-connection-ip=192.168.1.92
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=0f4d4516f5c5426bb7e5682eca31f904
